<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Date Création</th>
              <th>category</th>
              <th>Image</th>
              <th *ngIf="authService.isAdmin()">Supprimer</th>
              <th *ngIf="authService.isAdmin()">Modifier</th>
            </tr>
          </thead>
          <tbody *ngFor="let voyage of voyages">
            <tr>
              <td>{{ voyage.idvoyage }}</td>
              <td>{{ voyage.nomvoyage }}</td>
              <td>{{ voyage.prixvoyage }}</td>
              <td>{{ voyage.dateCreation }}</td>
              <td>{{ voyage.categorie.nomCat }}</td>
              <!-- <td><img class="card-img-top img-responsive"  
                src="{{apiurl+'/image/loadfromFS/'+voyage.idvoyage}}" 
                style = "height :50px;width:100px"> 
              </td>  -->
              
              <!-- <td><img class="card-img-top img-responsive"  
                src="{{apiurl+'/image/loadfromFS/'+voyage.idvoyage}}" 
                style = "height :50px;width:100px"> 
              </td>  -->

              <td>
                <img class="card-img-top img-responsive"  
                     [src]="voyage.imageStr" 
                     style="height:50px;width:100px"> 
              </td>
              <td>
                <a
                  *ngIf="authService.isAdmin()"
                  class="btn btn-danger"
                  (click)="supprimervoyage(voyage)"
                  >Supprimer</a
                >
              </td>
              <td>
                <a
                  *ngIf="authService.isAdmin()"
                  class="btn btn-info"
                  [routerLink]="['/updatevoyage', voyage.idvoyage]"
                  >Modifier</a
                >
              </td>
  
              
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>